*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


.container-1{
  position:relative;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size:cover;
 
 
}


.cabecalho{
  display:flex;
  justify-content:space-around;
  align-items:center;  
}


.cabecalho h1{
  font-family:"Calibri";
  color: #fff;
  font-weight: normal;
  font-size:50px;
}


.cabecalho span{
  color:#fb0a0a;
  
}


.cabecalho-link{
  display:flex;
  gap: 30px;  
}


.cabecalho-link a{
  font-family:"Calibri";
  color:black;
  font-size:20px;
}


.container-main{
  position:relative;
  left:-300px;
  width: 100%;
  display:flex;
  justify-content:center;
  margin-top:30px;
  top:-30;
}


.container-main Main-image{
  position:relative;
  left:230;
  width: 200px;
  height:auto;
 
  top:30px;
}


.container-title{
  display:flex;
  justify-content:center;
  text-align:center;
  flex-direction:column;
}


.container-title h2{
  position:relative;
  font-family:"Calibri";
  color: white;
  border-color:black;
  font-size:80px;
  font-weight:normal;
  top:-230px;
  left:110px;
  
}



.container-title h4{
  position:relative;
  font-size:25px;
  color:#fff;
  font-family:"Calibri";
  font-weight:normal;
  margin-bottom:150px;
  top:-230px;
  left:60px;  
}


.container-3{
  position:center;
  padding:55px;

}


.container-3 h4{
  position:center;
  right:340px;
  color:#fb0a0a;
  font-size:30px;
  font-family:"Calibri";
  font-weight:normal;
  margin-top:10px;
  margin-left:-125px;  
}


.container-3 h1{
  font-family:"Calibri";
  font-weight:normal;
  font-size:50px;
  color:#fff;
  margin-top:40px;
  margin-left:100px;
}




.section-3{
  display:flex;
  justify-content: space-evenly;
  text-align: center; 
}



.card-border h3{
  color:#fff;
  font-family:"Calibri";
  font-weight:normal;
  font-size:22px;
}



.container-2{
  display:flex;
  padding:50px;
  background-color:#1d1827;
}



.section-title{
  display:center;
  position:relative;
  color:white;
  top:-30px; 
}





.section-title h1{
  font-family:"Calibri";
  color:#fff;
  font-weight:normal;
  font-size:65px;
  margin-left:25px;
}



.section-title hr{
  float:left;
  width:100px;
  margin-left:300px;
  border:solid 1px red;
}



.footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: red;
      color: white;
      text-align: center;
}



.border-solid{
  color:white;
  position:relative;
  top:85px;
}



.card-border img{
  position:relative;
  top:-50px;
  width:150px;
  height:auto;
}



.container-title span{
  color:#fb0a0a;
}



.container-3 hr{
  position:relative;
  float:center;
  top:-10px;
  left:10;
  width:800px;
  border:solid 1px red;
}


button{
  position:center;
  background-color:white;
  left:100px;
  height:50px;
  width:200px;
  color:black;
  border-color:red;
  border-radius:20px;
  padding: -200px 50px;
  cursor: pointer;
}



@media screen and (max-width: 500px) {
  .cabecalho-link { 
    float: none;
    display: block;
    text-align: left;
  }
    .cabecalho-link-right {
    float: none;
  }


   
.cabecalho-link { 
  position:center;
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}


.paragrafo{ 
  position:center;
  color:#fff;
  font-size:30px;
  font-family:"Calibri";
}






